body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafe;
  color: #212121;
  margin: 0;
  padding: 0;
}

mat-toolbar.mat-primary {
  background-color: #e3f2fd !important; /* study-friendly błękit */
  color: #0d47a1 !important;
}

.mdc-button {
  background-color: #ffffff !important;
  color: #0d47a1 !important;
  border: 1px solid #0d47a1;
  border-radius: 4px;
  padding: 4px 12px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.mdc-button:hover {
  background-color: #bbdefb !important;
}
